<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>com.Datsounds.Obxd</string>
    <key>CFBundleName</key>
    <string>Obxd</string>
    <key>CFBundlePackageType</key>
    <string>TDMw</string>
    <key>CFBundleSignature</key>
    <string>PTul</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>0.1.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Datsounds</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>Datsounds: Obxd</string>
        <key>description</key>
        <string>Obxd</string>
        <key>factoryFunction</key>
        <string>ObxdAUFactory</string>
        <key>manufacturer</key>
        <string>Dats</string>
        <key>type</key>
        <string>aumu</string>
        <key>subtype</key>
        <string>Obxd</string>
        <key>version</key>
        <integer>256</integer>
      </dict>
    </array>
  </dict>
</plist>
